$bgcolor: #ccc;
$width: 1002px;
$font: "微软雅黑","WenQuanYi Micro Hei","黑体","Helvetica Neue",Helvetica,Arial,sans-serif;

@mixin inlineblock($width: 50%) {
    display:inline-block;
    vertical-align:top;
    width:$width;
}

body{
    background:$bgcolor;
    margin:0;
    font-family:$font;
}
.wrapper{
    min-width:$width;
    width:100%; 
}
.container{
    width:$width;
    margin:0 auto;
}

//header, html in sf.html.ep
.nav-bar-wrapper{
    height:35px;
    background:#323a37;
}
.nav-bar a{
    color:white;
    text-decoration:none;
    line-height:35px;
    font-size:18px;
    margin-right:10px;
    &:hover{
        border-bottom:2px solid #008460;
    }
    &.active{
        border-bottom:2px solid #008460;
    }
}
.content{
    background:#cca;
    @include inlineblock(70%);
    padding:20px 10px;
}
.sidebar{
    @include inlineblock(20%);
}

.question{
    border-bottom:1px solid #666;
    .question-action,.question-body{
        display:inline-block;
    }

}


//footer, html in sf.htmlep
footer{
    text-align:center;
    .footer-nav nav{
        height:35px;
        line-height:35px;
        a{
            color:#333;;
            text-decoration:none;
        }
    }
    .copy{
        background:#353f3e;
        height:25px;
        line-height:25px;
        color:white;
        margin:0;
    }

}

